@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&family=PT+Serif:wght@400;700&display=swap");

:root {
  --hsl-clr-primary-700: 225, 59%, 11%;
  --hsl-clr-primary-600: 225, 40%, 18%;
  --hsl-clr-primary-400: 213, 30%, 32%;
  --hsl-clr-primary-300: 213, 30%, 70%;
  --hsl-clr-primary-200: 213, 30%, 85%;

  --hsl-clr-accent-400: 202, 70%, 74%;

  --hsl-clr-danger: 0, 50%, 67%;
  --hsl-clr-success: 120, 50%, 64%;
  --hsl-clr-warning: 50, 50%, 65%;

  --clr-primary-700: hsl(var(--hsl-clr-primary-700));
  --clr-primary-600: hsl(var(--hsl-clr-primary-600));
  --clr-primary-400: hsl(var(--hsl-clr-primary-400));
  --clr-primary-300: hsl(var(--hsl-clr-primary-300));
  --clr-primary-200: hsl(var(--hsl-clr-primary-200));

  --clr-accent-400: hsl(var(--hsl-clr-accent-400));

  --clr-danger: hsl(var(--hsl-clr-danger));
  --clr-success: hsl(var(--hsl-clr-success));
  --clr-warning: hsl(var(--hsl-clr-warning));

  --ff-title: "Oswald", sans-serif;
  --ff-body: "PT Serif", serif;

  --fs-700: 1.5rem;
  --fs-600: 1.1rem;
  --fs-400: 0.75rem;
  --fs-200: 0.625rem;
  --fs-100: 0.5rem;

  --fw-bold: 700;
  --fw-regular: 400;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--ff-body);
  font-size: var(--fs-400);
  font-weight: var(--fw-regular);
  background-color: var(--clr-primary-400);
  color: var(--clr-primary-200);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--ff-title);
  font-weight: var(--fw-bold);
}

img,
svg {
  display: block;
  max-width: 100%;
}

input,
textarea,
select,
button {
  font: inherit;
}

a {
  color: var(--clr-primary-300);
  text-decoration: none;
}

a:hover,
a:focus {
  color: var(--clr-accent-400);
  text-decoration: underline;
  text-underline-offset: 0.15em;
}

a:active {
  text-decoration: none;
}

.header {
  position: sticky;
  top: 0;
  z-index: 99;
}

.logo {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.logo__img {
  --logo-size: 1.5rem;
  width: var(--logo-size);
  height: var(--logo-size);
}

.logo__text {
  font-size: var(--fs-700);
  text-transform: uppercase;
}

.nav {
  --nav-height: 6rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  background-color: var(--clr-primary-700);
  height: var(--nav-height);
  padding: 0 1.5em;
  box-shadow: 0 5px 10px hsla(var(--hsl-clr-primary-700), 0.25);
}

.nav__list {
  position: absolute;
  top: var(--nav-height);
  left: 0;
  width: 70%;
  min-height: 100svh;
  min-height: 100vh; /* fallback to vh if svh is not suppoted by the browser */
  font-size: var(--fs-600);
  background-color: var(--clr-primary-700);
  list-style: none;
  overflow: auto;
  box-shadow: 5px 0 10px hsla(var(--hsl-clr-primary-700), 0.25);
}

.nav__list[data-state="open"] {
  display: block;
}

.nav__list[data-state="close"] {
  display: none;
}

.nav__list-item {
  padding: 0.5em 1.25em;
}

.nav__list-item:hover {
  background-color: var(--clr-primary-600);
}

.btn-new-task {
  --size: 40px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: var(--size);
  height: var(--size);
  background-color: var(--clr-accent-400);
  border: none;
  border-radius: 50%;
  box-shadow: 3px 5px 10px hsla(var(--hsl-clr-primary-700), 0.25);
  position: fixed;
  bottom: 5vh; /* fallback if svh is not supported */
  bottom: 5svh;
  right: 5vw;
}

.btn-new-task::before {
  --size: 70%;
  content: "";
  width: var(--size);
  height: var(--size);
  background-image: url(./assets/icon-plus-solid.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.btn-new-task:hover {
  cursor: pointer;
  background-color: var(--clr-success);
}

.btn-new-task:active {
  box-shadow: none;
  transform: scale(0.95);
}

.todos-sorter-wrapper {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 0.5rem;
  padding: 0 1.5em;
  margin-top: 1.5rem;
}

.todos-sorter-wrapper > label {
  font-weight: var(--fw-bold);
}

.todos-sorter {
  --border-clr: var(--clr-primary-300);
  background-color: transparent;
  color: var(--clr-primary-200);
  padding: 0.75em 1em;
  border: 2px solid var(--border-clr);
  border-radius: 100vh;
}

.todos-sorter:hover,
.todos-sorter:focus {
  --border-clr: var(--clr-accent-400);
  cursor: pointer;
  outline: none;
}

.todos-sorter option {
  background-color: var(--clr-primary-400);
  color: var(--clr-primary-200);
}

.todo-list-container {
  padding: 1em;
}

.todo-list {
  padding: 0;
  list-style: none;
}

.todo-list__item {
  --bg-gradient-angle: 225deg;
  background: linear-gradient(
    var(--bg-gradient-angle),
    var(--clr-primary-600),
    var(--clr-primary-700)
  );
  padding: 1.25em 2em;
  border-radius: 5px;
  margin: 0.25rem 0;
  transition: all 10ms ease-in-out;
}

.todo-list__item:hover {
  --bg-gradient-angle: 135deg;
  box-shadow: 0 2px 5px hsla(var(--hsl-clr-primary-700), 0.25);
  margin: 0.35rem 0;
}

.todo-list__item:first-of-type {
  margin-top: 0;
}

.todo-list__item:last-of-type {
  margin-bottom: 0;
}

.todo-list__item > * {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "text-wrapper due" "btn-wrapper btn-wrapper";
  row-gap: 2rem;
  column-gap: 1rem;
  align-items: start;
}

.todo-list__item-due-date {
  grid-area: due;
  font-size: var(--fs-200);
  color: var(--clr-primary-300);
  text-align: right;
}

.todo-list__item-texts-wrapper {
  grid-area: text-wrapper;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 1rem;
}

.todo-list__item-title {
  font-size: var(--fs-600);
  color: var(--clr-primary-200);
  letter-spacing: 0.05em;
}

.todo-list__item-title.strikethrough {
  color: var(--clr-primary-300);
  text-decoration: line-through;
  opacity: 0.75;
}

.todo-list__item-btns-wrapper {
  grid-area: btn-wrapper;
  align-self: end;
  display: flex;
  gap: 0.5rem;
}

.todo-list__item-btn {
  --clr: var(--clr-primary-300);
  --border-clr: transparent;
  font-family: var(--ff-title);
  font-size: var(--fs-200);
  font-weight: var(--fw-bold);
  text-transform: uppercase;
  color: var(--clr);
  background-color: transparent;
  padding: 0.5em 1em;
  border: 2px solid var(--border-clr);
  border-radius: 5px;
  opacity: 0.75;
  transition: all 20ms ease-in-out;
}

.todo-list__item-btn:hover,
.todo-list__item-btn:focus {
  --border-clr: var(--clr);
  cursor: pointer;
  opacity: 1;
}

.todo-list__item-btn:active {
  transform: scale(0.97);
}

.todo-list__item-btn.details {
  --clr: var(--clr-success);
  --border-clr: var(--clr);
}

.todo-list__item-btn.edit:hover {
  --clr: var(--clr-accent-400);
}

.todo-list__item-btn.delete:hover {
  --clr: var(--clr-danger);
}

.todo-checkbox__wrapper {
  --size: 1.5rem;
  width: var(--size);
  height: var(--size);
  position: relative;
}

.todo-checkbox {
  appearance: none;
  width: 0;
  height: 0;
  padding: 0;
  background: transparent;
}

.todo-checkbox:hover {
  cursor: pointer;
}

.todo-checkbox::before,
.todo-checkbox::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.todo-checkbox::before {
  --border-clr: var(--clr-primary-400);
  content: "";
  border: 2px solid var(--border-clr);
  border-radius: 50%;
}

.todo-checkbox:checked:before {
  --border-clr: var(--clr-primary-200);
}

.todo-checkbox:checked::after {
  content: "\2714";
  font-size: var(--size);
  text-align: center;
  color: var(--clr-primary-200);
  transform: translateY(-0.3rem);
}

.priority-chip {
  font-size: var(--fs-100);
  font-weight: var(--fw-bold);
  text-align: center;
  text-transform: uppercase;
  color: var(--clr);
  transform: translate(-4px, -8px);
  padding: 0.25em 0.75em;
  border: solid 1px var(--clr);
  opacity: 0.7;
}

.priority-chip.low {
  --clr: var(--clr-success);
}

.priority-chip.mid {
  --clr: var(--clr-warning);
}

.priority-chip.high {
  --clr: var(--clr-danger);
}

.btn-hamburger {
  --size: 2rem;
  --line-thickness: 1.5px;
  --line-clr: var(--clr-primary-200);
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--size);
  height: var(--size);
  background-color: transparent;
  border: var(--line-thickness) solid var(--line-clr);
  position: relative;
}

.btn-hamburger__lines,
.btn-hamburger__lines::before,
.btn-hamburger__lines::after {
  display: block;
  width: 65%;
  height: var(--line-thickness);
  background-color: var(--line-clr);
}

.btn-hamburger__lines::before,
.btn-hamburger__lines::after {
  content: "";
  position: absolute;
  transition: transform 200ms linear;
}

.btn-hamburger__lines {
  transition: background-color 200ms linear 50ms;
}

.btn-hamburger__lines::before {
  transform: translateY(-0.35rem);
}

.btn-hamburger__lines::after {
  transform: translateY(0.35rem);
}

.btn-hamburger[aria-expanded="true"] .btn-hamburger__lines {
  background-color: transparent;
  transition-duration: 0ms;
}

.btn-hamburger[aria-expanded="true"] .btn-hamburger__lines::before {
  transform: rotate(45deg);
}

.btn-hamburger[aria-expanded="true"] .btn-hamburger__lines::after {
  transform: rotate(-45deg);
}

/* Hiding class, making content visible only to screen readers but not visually */
/* "sr" meaning "screen-reader" */
.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
