@import url("https://fonts.googleapis.com/css2?family=Lora&family=Oswald:wght@400;700&display=swap");

:root {
  --hsl-clr-primary-700: 225, 59%, 11%;
  --hsl-clr-primary-600: 225, 40%, 18%;
  --hsl-clr-primary-400: 213, 30%, 32%;
  --hsl-clr-primary-300: 213, 30%, 70%;
  --hsl-clr-primary-200: 213, 30%, 85%;

  --clr-primary-700: hsl(var(--hsl-clr-primary-700));
  --clr-primary-600: hsl(var(--hsl-clr-primary-600));
  --clr-primary-400: hsl(var(--hsl-clr-primary-400));
  --clr-primary-300: hsl(var(--hsl-clr-primary-300));
  --clr-primary-200: hsl(var(--hsl-clr-primary-200));

  --ff-title: "Oswald", sans-serif;
  --ff-body: "Lora", serif;

  --fs-700: 1.5rem;
  --fs-600: 1.1rem;
  --fs-400: 0.75rem;
  --fs-200: 0.625rem;

  --fw-bold: 700;
  --fw-regular: 400;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--ff-body);
  font-size: var(--fs-400);
  font-weight: var(--fw-regular);
  background-color: var(--clr-primary-400);
  color: var(--clr-primary-200);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--ff-title);
  font-weight: var(--fw-bold);
}

img,
svg {
  display: block;
  max-width: 100%;
}

input,
textarea,
button {
  font: inherit;
}

a {
  color: var(--clr-primary-300);
  text-decoration: none;
}

a:hover,
a:focus,
a:active {
  text-decoration: underline;
  text-underline-offset: 0.15em;
}

.header {
  position: sticky;
  top: 0;
  z-index: 99;
}

.logo {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.logo__img {
  --logo-size: 1.5rem;
  width: var(--logo-size);
  height: var(--logo-size);
}

.logo__text {
  font-size: var(--fs-700);
  text-transform: uppercase;
}

.nav {
  --nav-height: 6rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background-color: var(--clr-primary-700);
  height: var(--nav-height);
  padding: 0 1.5em;
  box-shadow: 0 5px 10px hsla(var(--hsl-clr-primary-700), 0.25);
}

.nav__list {
  position: absolute;
  top: var(--nav-height);
  left: 0;
  width: 70%;
  min-height: 100svh;
  min-height: 100vh; /* fallback to vh if svh is not suppoted by the browser */
  font-size: var(--fs-600);
  background-color: var(--clr-primary-700);
  list-style: none;
  overflow: auto;
  box-shadow: 5px 0 10px hsla(var(--hsl-clr-primary-700), 0.25);
}

.nav__list[data-state="open"] {
  display: block;
}

.nav__list[data-state="close"] {
  display: none;
}

.nav__list-item {
  padding: 0.5em;
}

.nav__list-item:hover {
  background-color: var(--clr-primary-600);
}

.todo-list-container {
  padding: 1em;
}

.todo-list {
  padding: 0;
  list-style: none;
}

.todo-list__item {
  --bg-gradient-angle: 225deg;
  background: linear-gradient(
    var(--bg-gradient-angle),
    var(--clr-primary-600),
    var(--clr-primary-700)
  );
  padding: 1.25em 2em;
  border-radius: 5px;
  margin: 0.25rem 0;
  transition: all 10ms ease-in-out;
}

.todo-list__item:hover {
  --bg-gradient-angle: 135deg;
  box-shadow: 0 2px 5px hsla(var(--hsl-clr-primary-700), 0.25);
  margin: 0.35rem 0;
}

.todo-list__item:first-of-type {
  margin-top: 0;
}

.todo-list__item:last-of-type {
  margin-bottom: 0;
}

.todo-list__item-texts-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 1rem;
}

.todo-list__item-title {
  font-size: var(--fs-600);
  color: var(--clr-primary-200);
  letter-spacing: 0.05em;
}

.todo-list__item-due-date {
  font-size: var(--fs-200);
}
