@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&family=PT+Serif:wght@400;700&display=swap");

:root {
  --hsl-clr-primary-700: 225, 59%, 11%;
  --hsl-clr-primary-600: 225, 40%, 18%;
  --hsl-clr-primary-400: 213, 30%, 32%;
  --hsl-clr-primary-300: 213, 30%, 70%;
  --hsl-clr-primary-200: 213, 30%, 85%;

  --hsl-clr-accent-400: 202, 70%, 74%;

  --hsl-clr-danger: 0, 50%, 67%;
  --hsl-clr-success: 120, 50%, 64%;
  --hsl-clr-warning: 50, 50%, 65%;

  --clr-primary-700: hsl(var(--hsl-clr-primary-700));
  --clr-primary-600: hsl(var(--hsl-clr-primary-600));
  --clr-primary-400: hsl(var(--hsl-clr-primary-400));
  --clr-primary-300: hsl(var(--hsl-clr-primary-300));
  --clr-primary-200: hsl(var(--hsl-clr-primary-200));

  --clr-accent-400: hsl(var(--hsl-clr-accent-400));

  --clr-danger: hsl(var(--hsl-clr-danger));
  --clr-success: hsl(var(--hsl-clr-success));
  --clr-warning: hsl(var(--hsl-clr-warning));

  --ff-title: "Oswald", sans-serif;
  --ff-body: "PT Serif", serif;

  --fs-700: 1.5rem;
  --fs-600: 1.1rem;
  --fs-400: 0.75rem;
  --fs-200: 0.625rem;
  --fs-100: 0.5rem;

  --fw-bold: 700;
  --fw-regular: 400;

  --nav-height: 6rem;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--ff-body);
  font-size: var(--fs-400);
  font-weight: var(--fw-regular);
  background-color: var(--clr-primary-400);
  color: var(--clr-primary-200);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--ff-title);
  font-weight: var(--fw-bold);
}

img,
svg {
  display: block;
  max-width: 100%;
}

input,
textarea,
select,
button {
  font: inherit;
}

a {
  color: var(--clr-primary-300);
  text-decoration: none;
}

a:hover,
a:focus {
  color: var(--clr-accent-400);
  text-decoration: underline;
  text-underline-offset: 0.15em;
}

a:active {
  text-decoration: none;
}

dialog {
  background-color: var(--clr-primary-600);
  color: var(--clr-primary-200);
  border: none;
  border-radius: 0.5rem;
  box-shadow: 10px 15px 20px hsla(var(--hsl-clr-primary-700), 0.25);
}

/* add custom style for scrollbar */
/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: hsla(var(--hsl-clr-primary-300), 0.5);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: var(--clr-accent-400);
}

.header {
  position: sticky;
  top: 0;
  z-index: 99;
}

.logo {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.logo__img {
  --logo-size: 1.5rem;
  width: var(--logo-size);
  height: var(--logo-size);
}

.logo__text {
  font-size: var(--fs-700);
  text-transform: uppercase;
}

.nav {
  display: flex;
  align-items: center;
  gap: 1rem;
  background-color: var(--clr-primary-700);
  height: var(--nav-height);
  padding: 0 1.5em;
}

.nav__sidebar {
  height: calc(100vh - var(--nav-height));
  font-size: var(--fs-600);
  background-color: var(--clr-primary-700);
  box-shadow: 5px 0 10px hsla(var(--hsl-clr-primary-700), 0.25);
  position: absolute;
  top: var(--nav-height);
  left: 0;
  overflow: auto;
}

.nav__list {
  list-style: none;
  padding: 0;
}

.nav__list-item {
  padding: 0.5em 1.25em;
}

.nav__list-item:hover {
  background-color: var(--clr-primary-600);
}

.btn-new-task {
  --size: 40px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: var(--size);
  height: var(--size);
  background-color: var(--clr-accent-400);
  border: none;
  border-radius: 50%;
  box-shadow: 3px 5px 10px hsla(var(--hsl-clr-primary-700), 0.25);
  position: fixed;
  bottom: 5vh; /* fallback if svh is not supported */
  bottom: 5svh;
  right: 5vw;
}

.btn-new-task::before {
  --size: 70%;
  content: "";
  width: var(--size);
  height: var(--size);
  background-image: url(./assets/icon-plus-solid.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.btn-new-task:hover {
  cursor: pointer;
  background-color: var(--clr-success);
}

.btn-new-task:active {
  box-shadow: none;
  transform: scale(0.95);
}

.todos-sorter-wrapper {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 0.5rem;
  padding: 0 1.5em;
  margin-top: 1.5rem;
}

.todos-sorter-wrapper > label {
  font-weight: var(--fw-bold);
}

.todos-sorter {
  --border-clr: var(--clr-primary-300);
  background-color: transparent;
  color: var(--clr-primary-200);
  padding: 0.75em 1em;
  border: 2px solid var(--border-clr);
  border-radius: 100vh;
}

.todos-sorter:hover,
.todos-sorter:focus {
  --border-clr: var(--clr-accent-400);
  cursor: pointer;
  outline: none;
}

.todos-sorter option {
  background-color: var(--clr-primary-400);
  color: var(--clr-primary-200);
}

.todo-list-container {
  padding: 1em;
}

.todo-list {
  padding: 0;
  list-style: none;
}

.todo-list__item {
  --bg-gradient-angle: 225deg;
  background: linear-gradient(
    var(--bg-gradient-angle),
    var(--clr-primary-600),
    var(--clr-primary-700)
  );
  padding: 1.25em 2em;
  border-radius: 5px;
  margin: 0.25rem 0;
  transition: all 10ms ease-in-out;
}

.todo-list__item:hover {
  --bg-gradient-angle: 135deg;
  box-shadow: 0 2px 5px hsla(var(--hsl-clr-primary-700), 0.25);
  margin: 0.35rem 0;
}

.todo-list__item:first-of-type {
  margin-top: 0;
}

.todo-list__item:last-of-type {
  margin-bottom: 0;
}

/* select all direct children except for the first one */
.todo-list__item-body > * + * {
  margin-top: 1.25rem;
}

.todo-list__item-due-date {
  font-size: var(--fs-200);
  color: var(--clr-primary-300);
  text-align: right;
}

.todo-list__item-texts-wrapper {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.todo-list__item-texts-wrapper .todo-checkbox-wrapper {
  flex-shrink: 0;
}

.todo-list__item-title {
  min-width: 0; /* width is required for word break to work, since it is a flex-item */
  font-size: var(--fs-600);
  color: var(--clr-primary-200);
  display: block;
  overflow-wrap: break-word;
  letter-spacing: 0.05em;
}

.todo-list__item-title.strikethrough {
  color: var(--clr-primary-300);
  text-decoration: line-through;
  opacity: 0.75;
}

.todo-list__item-priority {
  font-size: var(--fs-100);
  font-weight: var(--fw-bold);
  text-align: center;
  text-transform: uppercase;
  color: var(--clr);
  transform: translate(-4px, -8px);
  padding: 0.25em 0.75em;
  border: solid 1px var(--clr);
  opacity: 0.7;
}

.todo-list__item-priority.low {
  --clr: var(--clr-success);
}

.todo-list__item-priority.mid {
  --clr: var(--clr-warning);
}

.todo-list__item-priority.high {
  --clr: var(--clr-danger);
}

.todo-list__item-btns-wrapper {
  display: flex;
  gap: 0.5rem;
}

.todo-list__item-btn {
  --clr: var(--clr-primary-300);
  --border-clr: transparent;
  font-family: var(--ff-title);
  font-size: var(--fs-200);
  font-weight: var(--fw-bold);
  text-transform: uppercase;
  color: var(--clr);
  background-color: transparent;
  padding: 0.5em 1em;
  border: 2px solid var(--border-clr);
  border-radius: 5px;
  opacity: 0.75;
  transition: all 20ms ease-in-out;
}

.todo-list__item-btn:hover,
.todo-list__item-btn:focus {
  --border-clr: var(--clr);
  cursor: pointer;
  opacity: 1;
}

.todo-list__item-btn:active {
  transform: scale(0.97);
}

.todo-list__item-btn.details {
  --clr: var(--clr-success);
  --border-clr: var(--clr);
}

.todo-list__item-btn.edit:hover {
  --clr: var(--clr-accent-400);
}

.todo-list__item-btn.delete:hover {
  --clr: var(--clr-danger);
}

.modal-todo-details,
.modal-new-task {
  width: min(90vw, 500px);
  min-height: 350px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal-todo-details::backdrop,
.modal-new-task::backdrop {
  /* custom props not working. --clr-primary-400 is used here */
  background-color: hsl(213, 30%, 32%);
}

.modal-todo-details__due-date {
  padding: 1.5em 2em;
  background-color: var(--clr-primary-700);
  text-align: right;
  box-shadow: 0 5px 5px hsla(var(--hsl-clr-primary-700), 0.25);
}

.modal-todo-details__task-wrapper,
.modal-todo-details__info-wrapper {
  padding: 2em;
  position: relative;
}

.modal-todo-details__task-wrapper::before,
.modal-todo-details__info-wrapper::before {
  font-family: var(--ff-body);
  font-size: var(--fs-100);
  color: var(--clr-accent-400);
  padding: 0.25em 0.5em;
  border: 0.5px solid;
  position: absolute;
  transform: translate(-1rem, -1rem);
  opacity: 0.75;
}

.modal-todo-details__task-wrapper::before {
  content: "Task";
}

.modal-todo-details__info-wrapper::before {
  content: "Info";
}

.modal-todo-details__title,
.modal-todo-details__description {
  /* prevent extra-long long words from overflowing */
  overflow-wrap: break-word;
}

.modal-todo-details__title {
  letter-spacing: 0.05em;
}

.modal-todo-details__description {
  text-indent: 1em;
  margin-top: 0.5rem;
}

.modal-todo-details__info-wrapper {
  margin-bottom: 3rem;
}

.modal-todo-details__info-item {
  display: flex;
  align-items: center;
  gap: 0.35rem;
  font-family: var(--ff-title);
  letter-spacing: 0.05em;
  vertical-align: text-top;
  padding: 0.25em 0;
}

.modal-todo-details__info-item > span {
  font-family: var(--ff-body);
}

.modal-todo-details__info-item.priority > span {
  text-transform: capitalize;
  color: var(--clr);
}

.modal-todo-details__info-item.priority.low > span {
  --clr: var(--clr-success);
}
.modal-todo-details__info-item.priority.mid > span {
  --clr: var(--clr-warning);
}
.modal-todo-details__info-item.priority.high > span {
  --clr: var(--clr-danger);
}

.modal-todo-details__btns-wrapper {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 0.25rem;
  width: 100%;
  padding: 1.25em 1.5em;
  background-color: var(--clr-primary-700);
  position: sticky;
  bottom: 0;
  left: 0;
  z-index: 1;
}

.modal-todo-details__btns-wrapper .btn {
  font-size: var(--fs-200);
}

.modal-todo-details__check-item {
  margin-right: auto;
}

.modal-todo-details__check-item > label {
  display: flex;
  align-items: center;
  gap: 0.55rem;
}

.modal-new-task__form > .title,
.modal-new-task__btns-wrapper,
.modal-new-project__form > .title,
.modal-new-project__btns-wrapper {
  background-color: var(--clr-primary-700);
  padding: 1em 1.5em;
}

.modal-new-task__form .fieldset {
  display: grid;
  row-gap: 1rem;
  padding: 2em 1em;
  border: 0.5px solid var(--clr-primary-300);
  border-radius: 10px;
}

.modal-new-task__form .fieldset__legend {
  background-color: var(--clr-primary-700);
  padding: 0.5em 1em;
}

.modal-new-task__form input,
.modal-new-task__form textarea,
.modal-new-task__form select,
.modal-new-project__form input {
  background-color: transparent;
  color: var(--clr-primary-300);
  padding: 1em 0.5em;
  border: 1px solid;
}

.modal-new-task__form textarea {
  min-height: 100px;
}

.modal-new-task__form input:focus,
.modal-new-task__form textarea:focus,
.modal-new-task__for select:focus,
.modal-new-project__form input:focus {
  color: var(--clr-accent-400);
  outline: none;
}

.modal-new-task__form input[type="radio"] {
  --size: 1.25rem;
  appearance: none;
  display: block;
  width: var(--size);
  height: var(--size);
  padding: 0;
  border: 2px solid;
  border-radius: 50%;
  transition: border 100ms ease;
}

.modal-new-task__form input[type="radio"]:checked {
  border: calc(var(--size) * 0.35) solid var(--clr-accent-400); /* 35% of the radio button  */
}

.modal-new-task__fields-container {
  display: grid;
  row-gap: 1.5rem;
  padding: 2em;
}

.modal-new-task__priority .field-wrapper {
  display: flex;
  flex-direction: row-reverse;
  justify-content: start;
  align-items: center;
  gap: 0.5rem;
}

.modal-new-task__project option {
  background-color: var(--clr-primary-400);
}

.modal-new-task__btns-wrapper,
.modal-new-project__btns-wrapper {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.modal-new-project {
  width: min(70%, 400px);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal-new-project::backdrop {
  backdrop-filter: blur(2px);
}

.modal-new-project__form > .field-wrapper {
  padding: 2em;
}

.field-wrapper {
  display: grid; /* make input field stretch full width */
  row-gap: 0.5rem;
}

.todo-checkbox-wrapper {
  --size: 1.5rem;
  display: block;
  flex-shrink: 0;
  width: var(--size);
  height: var(--size);
  position: relative;
}

.todo-checkbox {
  appearance: none;
  width: 0;
  height: 0;
  padding: 0;
  background: transparent;
}

.todo-checkbox:hover {
  cursor: pointer;
}

.todo-checkbox::before,
.todo-checkbox::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.todo-checkbox::before {
  --border-clr: var(--clr-primary-400);
  content: "";
  border: 2px solid var(--border-clr);
  border-radius: 50%;
}

.todo-checkbox:checked:before {
  --border-clr: var(--clr-primary-200);
}

.todo-checkbox:checked::after {
  content: "\2714";
  font-size: var(--size);
  text-align: center;
  color: var(--clr-primary-200);
  transform: translateY(-0.3rem);
}

.btn-hamburger {
  --size: 2rem;
  --line-thickness: 1.5px;
  --line-clr: var(--clr-primary-200);
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--size);
  height: var(--size);
  background-color: transparent;
  border: var(--line-thickness) solid var(--line-clr);
  position: relative;
}

.btn-hamburger__lines,
.btn-hamburger__lines::before,
.btn-hamburger__lines::after {
  display: block;
  width: 65%;
  height: var(--line-thickness);
  background-color: var(--line-clr);
}

.btn-hamburger__lines::before,
.btn-hamburger__lines::after {
  content: "";
  position: absolute;
  transition: transform 200ms linear;
}

.btn-hamburger__lines {
  transition: background-color 200ms linear 50ms;
}

.btn-hamburger__lines::before {
  transform: translateY(-0.35rem);
}

.btn-hamburger__lines::after {
  transform: translateY(0.35rem);
}

.btn-hamburger[aria-expanded="true"] .btn-hamburger__lines {
  background-color: transparent;
  transition-duration: 0ms;
}

.btn-hamburger[aria-expanded="true"] .btn-hamburger__lines::before {
  transform: rotate(45deg);
}

.btn-hamburger[aria-expanded="true"] .btn-hamburger__lines::after {
  transform: rotate(-45deg);
}

/* Hiding class, making content visible only to screen readers but not visually */
/* "sr" meaning "screen-reader" */
.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.btn {
  padding: 0;
  background-color: transparent;
}

.btn:active {
  transform: scale(0.95);
  box-shadow: none;
}

.btn--cancel,
.btn--edit,
.btn--danger,
.btn--submit {
  font-family: var(--ff-title);
  font-weight: var(--fw-bold);
  text-transform: uppercase;
  color: var(--clr);
  padding: 0.5em 1em;
  border: 1px solid var(--clr);
  border-radius: 5px;
}

.btn--cancel:hover,
.btn--cancel:focus,
.btn--edit:hover,
.btn--edit:focus,
.btn--danger:hover,
.btn--danger:focus,
.btn--submit:hover,
.btn--submit:focus {
  cursor: pointer;
  color: var(--clr-primary-700);
  background-color: var(--clr);
}

.btn--cancel {
  --clr: var(--clr-primary-300);
  --hover-clr: var(--clr-primary-700);
}

.btn--edit {
  --clr: var(--clr-accent-400);
  --hover-clr: var(--clr-primary-700);
}

.btn--danger {
  --clr: var(--clr-danger);
}

.btn--submit {
  --clr: var(--clr-success);
}

/* Only for mobile (719.5px)*/
@media only screen and (max-width: 44.96875em) {
  .nav__sidebar {
    width: 70%;
    box-shadow: 0 5px 10px hsla(var(--hsl-clr-primary-700), 0.25);
  }

  .nav__sidebar[data-state="open"] {
    display: block;
  }

  .nav__sidebar[data-state="close"] {
    display: none;
  }
}

/* Tablets */
@media only screen and (min-width: 45em) {
  :root {
    --sidebar-width: 300px;
  }

  .nav {
    padding: 0 2em;
  }

  .nav__sidebar {
    width: var(--sidebar-width);
  }

  .btn-hamburger {
    display: none;
  }

  main {
    width: calc(100% - var(--sidebar-width));
    margin-left: auto;
  }

  .main-container {
    width: min(100%, 800px);
    margin: 0 auto;
  }

  .btn-new-task {
    --size: 50px;
  }
}

/* Dektops (1024px)*/

@media only screen and (min-width: 64em) {
  :root {
    --fs-700: 2rem;
    --fs-600: 1.25rem;
    --fs-400: 1rem;
    --fs-200: 0.75rem;
    --fs-100: 0.625rem;
  }
}
